{% autoescape off %}
Hey {{name}} , Welcome to Marpu Foundation. We are excited to have you as a part of team. As an Intern, You will be going through various series of events during your internship. 
On the first day , we will have an orientation to make you go through a set of guidelines and each intern would be assigned targets for the causes.We will share the link for the orientation on the Merpu webapp a day prior to the orientation.Attendance in the orientation is compulsary.
{% endautoescape %}
