.hero-image-container {
    display: flex;
    align-items: center;
  }
  
  .carousel-container {
    flex: 1;
    display: flex;
    margin-top: 70px;
    margin-left: 50px;
    height: 300px;
    width: 300px;
  }
  
  .text-container {
    flex: 1;
    padding: 0 20px;
    margin-top: 110px;
  }
.btn
{
  margin-left: 100px;
}

  
  /* Add any additional styles as needed */
  