.hero-image-container {
    display: flex;
    align-items: center;
  }
  
  .carousel-container {
    flex: 1;
  }
  
  .text-container {
    flex: 1;
    padding: 0 20px;
  }
  
  /* Add any additional styles as needed */
  